* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8fafc;
}

.card {
  margin-bottom: 15px;
}

.card img {
  height: 170px;
  object-fit: contain;
  background: #dee4ea;
}

.card-body {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  color: #35414d;
}

.card-body i {
  display: inline-block;
  font-size: 30px;
}
.logos {
  text-align: right;
}

.fa-chalkboard-teacher {
  color: seagreen;
}

.fa-html5 {
  color: #f06529;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-bootstrap {
  color: #9933cc;
}

.fa-js-square {
  color: #f0db4f;
  background-color: #35414d;
  padding: 0 1px;
  border-radius: 4px;
}

.card-text:hover,
a:hover {
  text-decoration: none;
  font-weight: bold;
}

.card:hover {
  filter: drop-shadow(8px 8px 10px gray);
  border: 2px solid #35414d;
  -webkit-filter: drop-shadow(8px 8px 10px gray);
}

#boton-top {
  right: 10px;
  z-index: 99;
  position: fixed;
  color: #437eb9;
  bottom: 10px;
  font-size: 50px;
  cursor: pointer;
}

#boton-top:hover {
  color: #4b6681;
}

footer {
  background-color: #384b5f;
  color: #f8fafc;
  align-items: center;
  text-align: center;
  height: 100px;
  display: flex;
}
